@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
    width: 100%;
    height: 100%;
    font-family: 'Sourse Sans Pro', sans-serif;
    font-weight: 300;
    background: linear-gradient(to bottom right, $brand-light-green 0%, $brand-green 100%);
}