$join-now: '.join-now';

#{$join-now} {
    min-width: 320px;
    text-align: center;
    .container {
        border-radius: 20px;
        background: $brand-light-grey;
        width: 100%;
    }
    .heading {
        padding: 20px 0;
        font-size: 2em;
    }
    .join-now-input {
        background-color: $brand-grey;
        appearance: none;
        outline: 0;
        border: none;
        width: 70%;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1em;
        transition-duration: 0.25;
        font-weight: 300;
        color: $brand-white;
    }
    .error {
        color:$brand-red;
    }
    .join-now-button {
        text-transform: uppercase;
        padding: 15px;
        background-color:$brand-light-blue;
        width: 70%;
        border-radius: 5px;
        border: none;
        color: $brand-white;
        font-weight: 300;
        &:focus,
        &:hover {
            border: none;
            background: $brand-blue;
        }
    }
    .mb-20 {
        margin-bottom: 20px;
    }
}