$join-now: '.join-now';

#{$join-now} {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    .container {
        border-radius: 10px;
        width: 40%;
        background: linear-gradient(to bottom, #008cff, #2eccd7);
    }
    .heading {
        padding-top: 20px;
        font-size: 2.5em;
        padding-bottom: 20px;
        color:white;
    }
    .join-now-input {
        display: block;
        appearance: none;
        outline: 0;
        border: 1px solid blue;
        width: 60%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 10px 15px;
        text-align: center;
        font-size: 1em;
        transition-duration: 0.25;
        font-weight: 300;
        color: $brand-green;
    }
    .error {
        color: red;
    }
    .join-now-button {
        text-transform: uppercase;
        padding: 15px;
        background-color: yellowgreen;
        width: 60%;
        border-radius: 5px;
        border: none;
        &:focus,
        &:hover {
            border: none;
        }
    }
    .mb-20 {
        margin-bottom: 20px;
    }
}