$form: '.form';

#{$form} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    .input {
        background-color: $brand-grey;
        appearance: none;
        outline: 0;
        border: none;
        width: 70%;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1em;
        transition-duration: 0.25;
        font-weight: 300;
        color: $brand-white;
    }
    .button {
        padding: 10px 0;
        background-color:$brand-light-blue;
        width: 20%;
        color: $brand-white;
        font-weight: 300;
        &:focus,
        &:hover {
            background: $brand-blue;
        }
    }
}